label {
  font: var(--body-sm);
  color: var(--text-body);
}

input {
  height: 3rem;
  padding: 1rem;

  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  outline: none;

  background-color: var(--input-base);

  font: var(--body-md);
  color: var(--input-placeholder);

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font: var(--body-sm);
    color: var(--danger);

    & .icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &:valid + .error {
    display: none;
  }
}

input:focus {
  color: var(--text-heading);
  border-color: var(--brand-light);
}

input::placeholder {
  font: var(--body-md);
  color: var(--input-placeholder);
}

