.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.radio-wrapper {
  border-radius: .5rem;
  padding: .25rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
}

.radio-inner {
  display: flex;
  width: 100%;
  height: 2.5rem;
  border-radius: .3125rem;
  position: relative;
  
  & input[type="radio"] {
    display: none;
  }

  &:has(:checked) {
    background-color: var(--shape-button);

    & label {
      color: var(--text-heading);
    }

    & .icon {
      color: var(--brand-light);
    }
  }

  & label {
    display: flex;
    width: 100%;
    height: 2.5rem;
    gap: .5rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & .icon {
      width: 16px;
      height: 16px;
    }
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 2fr));
  gap: .75rem;

  justify-content: center;
  align-items: center;

  & label {
    cursor: pointer;
  }

  & .back-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--shape-button);

    & input {
      display: none;
    }

    &:has(:checked) {
      border-color: var(--brand-light);
    }
  }
}




