:root {
  /* Brand */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  /* Feedback */
  --danger: #FF5959;

  /* Imput */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --font-family-leckerli: "Leckerli One", cursive;
  --logo: 400 2.5rem var(--font-family-leckerli);

  --font-family-ballon: "Baloo 2", sans-serif;
  --heading-md: 700 1.75rem var(--font-family-ballon);
  --heading-sm: 700 1.125rem var(--font-family-ballon);

  --font-family-open-sans: "Open Sans", sans-serif;
  --body-md: 400 1rem var(--font-family-open-sans);
  --body-sm: 400 .875rem var(--font-family-open-sans);
  --body-xs: 400 .75rem var(--font-family-open-sans);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  overflow: hidden;
  
  padding: 1.25rem;
  background-color: var(--shape-background);
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.header-icon {
  color: var(--input-placeholder);
}